require('mason').setup()
require('mason-lspconfig').setup({
  ensure_installed = { 'lua_ls', 'ltex', 'ansiblels', 'yamlls' }
})

local on_attach = function(_, _)
  vim.keymap.set('n', '<leader>rn', vim.lsp.buf.rename, {})
  vim.keymap.set('n', '<leader>c', vim.lsp.buf.code_action, {})
  vim.keymap.set('n', 'gd', vim.lsp.buf.definition, {})
  vim.keymap.set('n', 'gi', vim.lsp.buf.implementation, {})
  vim.keymap.set('n', 'gr', require('telescope.builtin').lsp_references, {})
  vim.keymap.set('n', 'K', vim.lsp.buf.hover, {})
end

require('lspconfig').lua_ls.setup{
  on_attach = on_attach
}

require('lspconfig').ltex.setup {
          filetypes = { "markdown", "latex",  "tex", "mail" },
          settings = {
            ltex = {
              additionalRules = {
                enablePickyRules = true,
                motherTongue = "de-DE",
              },
              language = "en-US",
              languageToolHttpServerUri = "https://api.languagetoolplus.com",
              languageToolOrg = {
                username = "{{ (bitwarden "item" "LanguageTool-ApiKey").login.username }}",
                apiKey = "{{ (bitwarden "item" "LanguageTool-ApiKey").login.password }}"
              },
              checkFrequency = "save",
            },
          },
          on_attach = on_attach
        }

require('lspconfig').ansiblels.setup {
  on_attach = on_attach
}
require('lspconfig').yamlls.setup {
  on_attach = on_attach
}
