#!/usr/bin/env bash

{{ if or (eq .chezmoi.osRelease.id "cachyos") (eq .chezmoi.osRelease.id "arch") (ne .profile "devcontainer") }}

set -eu

{{- if .packages.arch.pacman }}
sudo pacman -Syyu --noconfirm
{{- range .packages.arch.pacman }}
if ! dpkg -l {{ . | quote }} >/dev/null 2>&1; then
    echo "Installing pacman package: {{ . }}"
    sudo pacman -S --needed --noconfirm {{ . | quote }}
fi
{{- end }}
{{- end }}

{{- if .packages.arch.yay }}
{{- range .packages.arch.yay }}
if ! dpkg -l {{ . | quote }} >/dev/null 2>&1; then
    echo "Installing AUR package: {{ . }}"
    yay -S --needed --noconfirm {{ . | quote }}
fi
{{- end }}
{{- end }}


{{ end -}}
