[".local/bin/chezmoi"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "twpayne/chezmoi" (printf "chezmoi_*_linux_amd64.tar.gz") | quote }}
executable = true
refreshPeriod = "168h"
path = "chezmoi"

[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh.git"
refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
refreshPeriod = "168h"

[".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
type = "git-repo"
url = "https://github.com/zsh-users/zsh-autosuggestions.git"
refreshPeriod = "168h"

[".fzf"]
type = "git-repo"
url = "https://github.com/junegunn/fzf.git"
refreshPeriod = "168h"

[".config/nvim"]
type = "git-repo"
url = "git@github.com:stoeps13/kickstart.nvim.git"
refreshPeriod = "168h"

[".local/share"]
type = "archive"
url = "https://github.com/neovim/neovim/releases/latest/download/nvim-{{ .chezmoi.os }}-x86_64.tar.gz"
refreshPeriod = "168h"

[".local/bin/hugo"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL 
         "gohugoio/hugo" 
         (printf "hugo_extended_*_%s-%s.tar.gz" 
         .chezmoi.os .chezmoi.arch) | 
         quote }}
executable = true
refreshPeriod = "168h"
path = "hugo"

[".local/bin/eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "eza_x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
path = "./eza"

[".oh-my-zsh-custom/completions/_eza"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "eza-community/eza" "completions-*.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 3
path = "_eza"

[".local/bin/atuin"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "atuinsh/atuin" "atuin-x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 1
path = "atuin"

[".local/bin/nerdctl"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "containerd/nerdctl" (printf "nerdctl-*-linux-amd64.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "nerdctl"

{{- $mitmVersion := ((gitHubLatestRelease "mitmproxy/mitmproxy").TagName) | replaceAllRegex "v" "" }}
[".local/bin"]
type = "archive"
refreshPeriod = "168h"
url = "https://downloads.mitmproxy.org/{{ $mitmVersion }}/mitmproxy-{{ $mitmVersion }}-linux-x86_64.tar.gz"

[".local/bin/lazygit"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" (printf "lazygit_*_linux_x86_64.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "lazygit"

[".local/bin/talosctl"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "siderolabs/talos" "talosctl-linux-amd64" | quote }}
refreshPeriod = "168h"
executable = true

[".local/bin/k9s"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "derailed/k9s" "k9s_Linux_amd64.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
path = "k9s"

[".local/bin/kubens"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ahmetb/kubectx" (printf "kubens_*_linux_x86_64.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "kubens"

[".local/bin/kubectx"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "ahmetb/kubectx" (printf "kubectx_*_linux_x86_64.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "kubectx"

[".local/bin/kubetail"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "kubetail-org/kubetail" "kubetail-linux-amd64" | quote }}
refreshPeriod = "168h"
executable = true


[".local/bin/trivy"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "aquasecurity/trivy" (printf "trivy_*_Linux-64bit.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "trivy"

[".local/bin/dive"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "wagoodman/dive" (printf "dive_*_linux_amd64.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "dive"

[".local/bin/stylua"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "JohnnyMorganz/StyLua" "stylua-linux-x86_64.zip" | quote }}
refreshPeriod = "168h"
executable = true
path = "stylua"

{{- $helmVersion := ((gitHubLatestRelease "helm/helm").TagName) | replaceAllRegex "v" "" }}
[".local/bin/helm"]
type = "archive-file"
refreshPeriod = "168h"
url = "https://get.helm.sh/helm-v{{ $helmVersion }}-linux-amd64.tar.gz"
stripComponents = 1
path = "helm"

[".local/bin/kubectl"]
type = "file"
executable = true
refreshPeriod = "720h"
url = 'https://dl.k8s.io/release/{{ output "curl" "-L" "-s" "https://dl.k8s.io/release/stable.txt" | trim }}/bin/linux/amd64/kubectl'

[".local/bin/hubble"]
type = "archive-file"
executable = true
refreshPeriod = "720h"
url = {{ gitHubLatestReleaseAssetURL "cilium/hubble" "hubble-linux-amd64.tar.gz" | quote }}
path = "hubble"

[".local/bin/cilium"]
type = "archive-file"
executable = true
refreshPeriod = "720h"
url = {{ gitHubLatestReleaseAssetURL "cilium/cilium-cli" "cilium-linux-amd64.tar.gz" | quote }}
path = "cilium"

[".local/bin/ltrs"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "jeertmans/languagetool-rust" (printf "ltrs-v*-x86_64-unknown-linux-musl.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
stripComponents = 1
path = "ltrs"

[".local/bin/vale"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "errata-ai/vale" (printf "vale_*_Linux_64-bit.tar.gz") | quote }}
refreshPeriod = "168h"
executable = true
path = "vale"

[".local/bin/starship"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "starship/starship" "starship-i686-unknown-linux-musl.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
path = "starship"

[".local/bin/typst"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "typst/typst" "typst-x86_64-unknown-linux-musl.tar.xz" | quote }}
refreshPeriod = "168h"
executable = true
stripComponents = 1
path = "typst"

[".local/share/fonts"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "FortAwesome/Font-Awesome" (printf "fontawesome-free-*-desktop.zip") | quote }} 
exact = true
stripComponents = 2
refreshPeriod = "168h"
include = ["**/otfs/Font*.otf"]

[".local/bin/todo.sh"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "todotxt/todo.txt-cli" "todo.txt_cli-*.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
stripComponents = 1
path = "todo.sh"

[".local/bin/uv"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
refreshPeriod = "168h"
stripComponents = 1
executable = true
exact = true
path = "uv"

[".local/bin/direnv"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "direnv/direnv" "direnv.linux-amd64" | quote }}
refreshPeriod = "168h"
executable = true

[".local/bin/youtube-dl"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "yt-dlp/yt-dlp" "yt-dlp_linux"  | quote }}
refreshPeriod = "168h"
executable = true

[".local/bin/bookmarks"]
type = "file"
url = "https://raw.githubusercontent.com/stoeps13/bookmarks.txt/refs/heads/main/bin/bookmarks"
executable = true
refreshPeriod = "168h"

[".local/bin/asciinema"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "asciinema/asciinema" "asciinema-x86_64-unknown-linux-gnu"  | quote }}
refreshPeriod = "168h"
executable = true

[".local/bin/saul"]
type = "file"
url = {{ gitHubLatestReleaseAssetURL "DeprecatedLuar/better-curl-saul" "saul-linux-amd64"  | quote }}
refreshPeriod = "168h"
executable = true

[".local/bin/helmfile"]
type = "archive-file"
url = {{ gitHubLatestReleaseAssetURL "helmfile/helmfile" "helmfile_*_linux_amd64.tar.gz" | quote }}
refreshPeriod = "168h"
executable = true
path = "helmfile"
