[edit]
  apply = true

[diff]
  command = "difft"
  args = ["--color", "always", "--skip-unchanged"]
  pager = "bat"
  exclude = ['scripts']

[git]
  autoCommit = true
  autoPush = false

[bitwarden]
  unlock = "auto"
