[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-bw.sh"

[edit]
  apply = true

[diff]
  command = "difft"
  args = ["--color", "always", "--skip-unchanged"]
  pager = "bat"
  exclude = ['scripts']

[git]
  autoCommit = true
  autoPush = false
