[Desktop Entry]
Name=Flameshot (on fedora)
Name[zh_CN]=火焰截图 (on fedora)
GenericName=Screenshot tool (on fedora)
GenericName[zh_CN]=屏幕截图工具 (on fedora)
GenericName[pl]=Zrzuty ekranu (on fedora)
GenericName[fr]=Outil de capture d'écran (on fedora)
GenericName[nl]=Schermfotoprogramma (on fedora)
GenericName[nl_NL]=Schermfotoprogramma (on fedora)
GenericName[ja]=スクリーンショットツール (on fedora)
GenericName[ru]=Создание скриншотов (on fedora)
GenericName[sk]=Nástroj na zachytávanie obrazovky (on fedora)
GenericName[sr]=Снимач екрана (on fedora)
GenericName[uk]=Інструмент скриншотів (on fedora)
GenericName[es]=Herramienta de captura de pantalla (on fedora)
GenericName[pt_BR]=Ferramenta de captura de tela (on fedora)
Comment=Powerful yet simple to use screenshot software.
Comment[zh_CN]=强大又易用的屏幕截图软件
Comment[pl]=Proste w użyciu narzędzie do zrzutów ekranu
Comment[fr]=Logiciel de capture d'écran puissant et simple d'utilisation.
Comment[nl]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[nl_NL]=Een eenvoudig doch krachtig schermfotoprogramma.
Comment[ja]=パワフルで使いやすいスクリーンショットソフトウェア。
Comment[ru]=Простой и функциональный инструмент для создания скриншотов
Comment[sk]=Mocný, no zároveň jednoduchý softvér na zachytávanie obrazovky.
Comment[sr]=Једноставан, а моћан алат за снимање екрана
Comment[uk]=Потужний простий у використанні додаток для створення знімків екрану.
Comment[es]=Software de captura de pantalla potente y fácil de usar.
Comment[de]=Schlichte, leistungsstarke Screenshot-Software
Comment[pt_BR]=Software de captura de tela poderoso, mas simples de usar.
Keywords=flameshot;screenshot;capture;shutter;
Keywords[zh_CN]=flameshot;screenshot;capture;shutter;截图;屏幕;
Keywords[fr]=flameshot;capture d'écran;capter;shutter;
Keywords[ja]=flameshot;screenshot;capture;shutter;スクリーンショット;キャプチャー;
Keywords[nl]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[nl_NL]=flameshot;schermfoto;screenshot;schermafdruk;vastleggen;schermopname;
Keywords[es]=flameshot;screenshot;capture;shutter;captura;
Keywords[de]=flameshot;screenshot;Bildschirmfoto;Aufnahme;
Keywords[pt_BR]=flameshot;screenshot;captura de tela;captura;shutter;
Exec=/usr/bin/distrobox-enter  -n fedora  --   flameshot 
Icon=org.flameshot.Flameshot
Terminal=false
Type=Application
Categories=Graphics;
StartupNotify=false
StartupWMClass=flameshot
Actions=Configure;Capture;Launcher;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.flameshot.Flameshot (on fedora)
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2

[Desktop Action Configure]
Name=Configure (on fedora)
Name[zh_CN]=配置 (on fedora)
Name[pl]=Konfiguruj (on fedora)
Name[fr]=Configurer (on fedora)
Name[ja]=設定 (on fedora)
Name[ru]=Настройки (on fedora)
Name[sk]=Nastaviť (on fedora)
Name[nl]=Instellen (on fedora)
Name[nl_NL]=Instellen (on fedora)
Name[sr]=Подешавања (on fedora)
Name[uk]=Налаштувати (on fedora)
Name[es]=Configurar (on fedora)
Name[de]=Einstellungen (on fedora)
Name[pt_BR]=Configurar (on fedora)
Exec=/usr/bin/distrobox-enter  -n fedora  --   flameshot config 

[Desktop Action Capture]
Name=Take screenshot (on fedora)
Name[zh_CN]=进行截图 (on fedora)
Name[pl]=Zrzut ekranu (on fedora)
Name[fr]=Prendre une capture d'écran (on fedora)
Name[ja]=スクリーンショットを撮る (on fedora)
Name[ru]=Сделать скриншот (on fedora)
Name[sk]=Zachytiť obrazovku (on fedora)
Name[sr]=Сними екран (on fedora)
Name[uk]=Зробити знімок (on fedora)
Name[nl]=Schermfoto maken (on fedora)
Name[nl_NL]=Schermfoto maken (on fedora)
Name[es]=Tomar captura de pantalla (on fedora)
Name[de]=Bildschirmfoto aufnehmen (on fedora)
Name[pt_BR]=Capturar tela (on fedora)
Exec=/usr/bin/distrobox-enter  -n fedora  --   flameshot gui --delay 500 

[Desktop Action Launcher]
Name=Open launcher (on fedora)
Name[de]=Starter öffnen (on fedora)
Name[nl]=Starter openen (on fedora)
Name[nl_NL]=Starter openen (on fedora)
Name[sk]=Otvoriť spúšťač (on fedora)
Name[zh_CN]=打开启动器 (on fedora)
Name[pt_BR]=Abrir lançador (on fedora)
Exec=/usr/bin/distrobox-enter  -n fedora  --   flameshot launcher 
