apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ (bitwardenFields "item" "cnx8_db2_config kube_config").certificate_authority_data.value }}
    server: https://10.0.22.95:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ (bitwardenFields "item" "cnx8_db2_config kube_config").client_certificate_data.value }}
    client-key-data: {{ (bitwardenFields "item" "cnx8_db2_config kube_config").client_key_data.value }}
