[hooks.read-source-state.pre]
    command = "~/.local/share/chezmoi/run_once_bw_install.sh"

[edit]
  apply = true

[diff]
  command = "difft"
  args = ["--color", "always", "--missing-as-empty", "--skip-unchanged"]
  pager = "cat"
  exclude = ['scripts']
