[Unit]
Description=DavMail Exchange Gateway

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/var/home/stoeps/.local/bin/davmail /var/home/stoeps/.davmail.properties -notray
ExecStop=killall davmail

[Install]
WantedBy=default.target
