[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=man:kanshi(1)
BindsTo=niri.service

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=niri.service
