[Unit]
Description=check mail
Wants=mbsync.timer

[Service]
Type=oneshot
ExecStart=/var/home/stoeps/.local/bin/mbsync -a
TimeoutSec=120

[Install]
WantedBy=default.target
