[Unit]
Description=check mail
Wants=mbsync.timer

[Service]
Type=oneshot
ExecStart=/var/home/linuxbrew/.linuxbrew/bin/mbsync -a
TimeoutSec=120

[Install]
WantedBy=default.target
