[Unit]
Description=check mail
Wants=vdirsync.timer

[Service]
Type=oneshot
ExecStart=/var/home/stoeps/.local/bin/vdirsyncer sync
TimeoutSec=120

[Install]
WantedBy=default.target
